<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <title>Currículum de {{name}}</title>
</head>
<body>
    <h1>{{name}}</h1>
    <p>Profesión: {{profession}}</p>
    <p>Edad: {{age}}</p>
</body>
</html>
